/* styles.css */

* {
	font-family: Arial;
}

h1 {
	font-family: "UnifrakturMaguntia", serif;
	font-weight: 400;
	font-style: normal;
}

h2{
	font-family: "Inria Serif", serif;
	font-weight: 400;
	font-style: normal;
}

p{
	font-family: "Inria Serif", serif;
	font-weight:400;
	font-style: normal; 
}

img{
	width: 100%;
}
small{
	font-family: "Inria Serif", serif;
	font-style: italic;
}

/* Fonts */
/*Title
.unifrakturmaguntia-regular {
	font-family: "UnifrakturMaguntia", cursive;
	font-weight: 400;
	font-style: normal;
  }

  .inria-serif-light {
	font-family: "Inria Serif", serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .inria-serif-regular {
	font-family: "Inria Serif", serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .inria-serif-bold {
	font-family: "Inria Serif", serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .inria-serif-light-italic {
	font-family: "Inria Serif", serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .inria-serif-regular-italic {
	font-family: "Inria Serif", serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .inria-serif-bold-italic {
	font-family: "Inria Serif", serif;
	font-weight: 700;
	font-style: italic;
  }*/